body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1348px;
    height:51px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1348px;
    height:51px;
}

.u1 {
    position:absolute;
    left:2px;
    top:18px;
    width:1344px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../img/u3_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:187px;
    width:1348px;
    height:48px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1348px;
    height:48px;
}

.u3 {
    position:absolute;
    left:2px;
    top:16px;
    width:1344px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:174px;
    top:254px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:174px;
    top:289px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:255px;
    top:254px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7 {
    position:absolute;
    left:255px;
    top:289px;
    width:244px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u8 {
    position:absolute;
    left:255px;
    top:325px;
    width:414px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u9 {
    position:absolute;
    left:174px;
    top:325px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:255px;
    top:394px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u11 {
    position:absolute;
    left:174px;
    top:363px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:255px;
    top:365px;
    width:188px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:174px;
    top:399px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:174px;
    top:436px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:255px;
    top:434px;
    width:53px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u16 {
    position:absolute;
    left:174px;
    top:473px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:255px;
    top:473px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u18 {
    position:absolute;
    left:315px;
    top:436px;
    width:15px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:174px;
    top:511px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:255px;
    top:511px;
    width:96px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

/*.u21_normal {*/
    /*background-image: url('../img/u21_normal.png');*/
/*}*/

.u21_container {
    position:absolute;
    left:255px;
    top:542px;
    width:201px;
    height:71px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:201px;
    height:71px;
}

.u22 {
    position:absolute;
    left:2px;
    top:28px;
    width:197px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:460px;
    top:601px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../img/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:255px;
    top:629px;
    width:85px;
    height:33px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:85px;
    height:33px;
    cursor: pointer;
}

.u25 {
    position:absolute;
    left:2px;
    top:8px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:325px;
    top:434px;
    width:131px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u27 {
    position:absolute;
    left:462px;
    top:436px;
    width:15px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:475px;
    top:434px;
    width:53px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u29 {
    position:absolute;
    left:538px;
    top:436px;
    width:188px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('');
}

.u30_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1349px;
    height:215px;
}

#u30_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1349px;
    height:215px;
}

.u31 {
    position:absolute;
    left:2px;
    top:100px;
    width:1345px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('');
}

.u32_container {
    position:absolute;
    left:1px;
    top:679px;
    width:1348px;
    height:255px;
}

#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1348px;
    height:255px;
}

.u33 {
    position:absolute;
    left:2px;
    top:120px;
    width:1344px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../img/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:956px;
    top:235px;
    width:168px;
    height:422px;
}

#u34_img {
    position:absolute;
    left:0px;
    top:0px;
    width:168px;
    height:422px;
}

.u35 {
    position:absolute;
    left:2px;
    top:203px;
    width:164px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

