@charset "utf-8";
/* CSS Document */
.filters{
	margin:10px auto;
	padding:10px;
	background:#f8f8f8;
	border:1px solid #ddd;
}
.filters .warnings{
	background:#ffc;
	padding:5px 22px;
	border:1px solid #fd0;
	margin-bottom:5px;
}
.filters .warnings a{
	display:inline-block;
	padding:0 8px;
	line-height:22px;
	color:#09f;
}
.filters .warnings a span{
	font-size:10px;
	color:#f60;
	margin-left:5px;
}
.filters .categories{
	padding:8px 0;
	border-bottom:1px dotted #ddd;
}
.filters .categories a{
	display:inline-block;
	padding:0 8px;
	line-height:24px;
}
.filters .categories a.current{
	background:#f60;
	color:#fff;
	font-weight:bold;
	border-radius:3px;
	box-shadow:0 0 5px #900 inset;
}
.filters .metas{
	padding-top:8px;
}
.filters .metas em{
	margin-right:3px;
}
.filters .metas em.latest a{
	display:inline-block;
	padding:0 8px;
	line-height:24px;
	vertical-align:top;
}
.filters .metas em.latest a.current{
	background:#f60;
	color:#fff;
	font-weight:bold;
	border-radius:3px;
	box-shadow:0 0 5px #900 inset;
}
.filters .metas em.search input{
}


.maintab { min-height:490px;
}
.maintab ul.tabs {
	background:url(../img/e6dot.jpg) bottom repeat-x;
}
.maintab ul.tabs li {
	float:left;
	margin-right:5px;
}
.maintab ul.tabs li a {
	display:block;
	height:27px;
	width:120px;
	text-align:center;
	line-height:27px;
	background:url(../img/tabbg.jpg) bottom center no-repeat;
	font-weight:bold;
	color:#333;
}
.maintab ul.tabs li a:hover {
	background:url(../img/tabbg.jpg) top center no-repeat;
	color:#c00;
}
.maintab ul.tabs li a span{
	font-weight:normal;
	font-size:10px;
	color:#f60;
	margin-left:5px;
}
.maintab ul.tabs li.current a {
	background:url(../img/tabbg.jpg) top center no-repeat;
	color:#c00;
	font-weight:bold;
}
.maintab ul.tabs li.current a:hover {
	background:url(../img/tabbg.jpg) top center no-repeat;
	color:#c00;
	font-weight:bold;
}
.maintab .content {
	border:1px solid #e6e6e6;
	border-top:none;
	float: left;
	padding:10px;
	min-height:500px;
	overflow:hidden;
	width: 788px;
	position:relative;
	display:none;
}

table.datalist td.multitd{
	background:#f8f8f8;
	text-align:left;
}
table.datalist td .goodlogo{
	text-align:left;
	padding:5px;
}
table.datalist td .goodlogo img{
	width:50px;
	height:50px;
	vertical-align:middle;
	margin-right:5px;
}
.list_shop_desc{
	padding:5px;
	text-align:left;
	line-height:22px;
}
.list_shop_desc img{}
.list_shop_desc h2{
	font-size: 14px;
    height: 25px;
    line-height: 28px;
    overflow: hidden;
    width: 245px;
}

.list_shop_desc img{
	width:50px;
	height:50px;
	float:left;
	margin-right:10px;
}
.list_take{ width:320px; text-align:left}
.list_take ul{ margin:0; padding:0; list-style: none}
.list_take ul li{text-align:left;   width:300px; line-height:24px; border-bottom:1px #ddd dotted; padding:5px}
.list_take ul li em{float:right; text-align:right;width: 50px;}
.list_take ul li span{ width:260px;}
.subtab{
	border-bottom:1px dotted #ddd;
	padding-bottom:10px;
	line-height:28px;
}
.subtab em{
	float:right;
}
.subtab a.attentionbtn{
	display:inline-block;
	padding:0 10px;
	line-height:24px;
	background:#f60;
	color:#fff;
	border:1px solid #c00;
	border-radius:3px;
	margin-left:10px;
}
.no_neir span a{color:#0066CC}
.sa_left{
	width:540px;
	float:left;
}
.sa_right{
	width:230px;
	float:right;
}
ul.shoplist li{
	clear:both;
	padding:10px 0;
	border-bottom:1px dotted #eee;
}
ul.shoplist li h2 a.slogo{
	display:block;
	width:50px;
	height:50px;;
	float:left;
	margin-right:10px;
}
ul.shoplist li h2 a.slogo img{
	width:50px;
	height:50px;;
}
ul.shoplist li h2 a.sname{
	font-size:14px;
	line-height:30px;
}
ul.shoplist li h2{
	margin-bottom:10px;
}
ul.shoplist li h2 p em{
	margin-right:5px;
}
ul.shoplist li h2 p img{
	vertical-align:middle;
	margin-right:5px;
}
ul.shoplist li p.brief{
	color:#999;
	line-height:20px;
}
ul.shoplist li p.brief a{
	color:#09f;
	margin-left:10px;
}
ul.shoplist li h2 .sdiscount{
	width:250px;
	float:right;
	border:1px solid #f90;
	background:#fc0;
	border-radius:5px;
	text-shadow:1px 1px 1px #f90;
	color:#fff;
	padding:5px 10px;
	position:relative;
}
ul.shoplist li h2 .sdiscount img.arrow{
	position:absolute;
	top:5px;
	left:-14px;
}
ul.shoplist li p.meta{
	color:#ccc;
	margin-top:10px;
	text-align:right;
}
.sidebox{

	padding:10px 0;

}
.sidebox h2.sb_title{
	font-size:14px;
	color:#333;
}
.sidebox h2.sb_title a.more{
	float:right;
	font-size:12px;
	font-weight:normal;
}
.sidebox .sb_content{
	padding:10px 0 0 0;
}
.maniac ul li{
	clear:both;
	padding:10px 0;
	border-bottom:1px dotted #ddd;
}
.maniac ul li .follow{
	float:right;
}
.maniac ul li .face{
	width:38px;
	height:38px;
	float:left;
}
.maniac ul li .face a{
	display:block;
	padding:2px;
}
.maniac ul li .face a img{
	width:32px;
	height:32px;
}
.maniac ul li .face a:link, .maniac ul li .face a:visited{
	background:#fff;
	border:1px solid #ddd;
}
.maniac ul li .face a:hover, .maniac ul li .face a:active{
	background:#ffc;
	border:1px solid #fc0;
}

.maniac ul li .desc{
	margin-left:43px;
}
.maniac ul li .desc p{
	margin-top:8px;
	color:#999;
}
.maniac ul li .desc p img{
	vertical-align:middle;
	margin-right:5px;
}
.maniac ul li input{
	float:left;
	margin-right:10px;
}

a.follow{
	display:block;
	padding:2px;
	text-align:center;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
	border-radius: 3px;
}
a.follow:link, a.follow:visited{
	background:#fff;
	color:#09c;
	border:1px solid #ddd;
}
a.follow:hover, a.follow:active{
	background:#ffc;
	color:#f60;
	border:1px solid #fc0;
}

h3.attention_title{
	font-weight:normal;
	color:#999;
	padding:10px 0;
}
h3.attention_title strong{
	font-size:24px;
	color:#333;
	margin-right:10px;
}
.shopbox{
	border:1px solid #ddd;
	overflow:hidden;
	margin-bottom:10px;
}
.shopbox h2.caption{
	background:#eee;
	padding:10px;
	font-size:14px;
	border-bottom:1px solid #ddd;
}
.shopbox h2.caption a{
	color:#09f;
}
.shopbox h2.caption a.more{
	display:block;
	float:right;
	font-weight:normal;
	font-size:12px;
}
.shopbox ul{
	width:1100px;
	padding:10px;
}
.shopbox ul li{
	clear:none;
	float:left;
	width:200px;
	border-bottom:none;
	margin-right:60px;
	margin-bottom:10px;
	padding:10px;
}
.shopbox ul li:hover{
	background:#eee;
}
.shopbox ul li .desc{
	margin-left:73px;
}
.shopbox .followall{
	text-align:center;
	padding-bottom:20px;
}
.shopbox .followall button{
	font-size:16px;
	font-weight:bold;
}

ul.form{
	width:780px;
	margin:10px auto;
}
ul.form li{
	clear:both;
	padding:5px 0;
}
ul.form li label.title{
	display:block;
	float:left;
	width:100px;
	line-height:28px;
	text-align:right;
	padding-right:10px;
	font-weight:bold;
	color:#000;
}
ul.form li .item{
	 line-height: 25px;
}
ul.form li em.tips{
	display:block;
	margin-top:10px;
	color:#c00;
}
ul.form li .item label{
	line-height:28px;
	margin-right:10px;
}
ul.form li .item .wordcontrol{
	color:#999;
	font-size:11px;
	margin-top:5px;
}
ul.form li .item .wordcontrol span{
	padding:0 5px;
	color:#c00;
}
ul.form li h2.caption{
	font-size:16px;
	color:#999;
	border-top:1px solid #ddd;
	padding:25px 0;
	text-indent:30px;
}
ul.addressForm{
	width:auto;
}
.address_caption{
	font-weight:normal;
	padding:10px 0;
	border-bottom:1px solid #eee;
}
.address_caption span{
	font-size:16px;
	font-weight:bold;
	margin-right:10px;
}
.am_loginame h2{
	font-size:14px;
	color:#000;
	font-weight:bold;
	line-height:28px;
	color:#f60;
}
.am_loginame p{
	line-height:28px;
}
.invitebox{
	padding:50px 20px;
	border:5px dashed #f60;
}
.tbl-attach{
	line-height:30px;
}

table.bindlist{
	width:100%;
}
.binditem{
	padding:30px 50px;
}
.binditem img{
	width:50px;
	height:50px;
	float:left;
	margin-right:20px;
}
.binditem h2{
	font-size:14px;
}
.binditem p{
	margin-top:10px;
	color:#999;
}
.binditem p a{
	color:#09f;
}
.binditem p strong{
	color:#333;
}

table.infolist{
	width:100%;
}
table.infolist .icon{
	font-size:14px;
	font-weight:bold;
}
table.infolist .icon img{
	width:24px;
	height:24px;
	vertical-align:middle;
	margin-top:-3px;
}
table.infolist td{
	padding:10px;
	border-bottom:1px dotted #ddd;
}
table.infolist .item h2{
	font-size:14px;
	color:#f60;
	font-weight:bold;
}
table.infolist .item ul{
	margin-top:10px;
}
table.infolist .item ul li{
	line-height:22px;
	list-style: disc;
	margin-left:20px;
}
.no_neir{ padding:10px; background-color: #F8F8F8; border:1px #ddd solid; margin-top:10px; margin-bottom:10px;}
.no_neir h2{ font-size:15px; padding:10px 20px;}
.no_neir p{ font-size:14px; line-height:25px; padding:10px 20px;}
.no_neir p a{ color:#06C}
.no_neir span{ color:#CCC; padding:10px 20px;}
.tijian{ margin:0px 0; padding:0; float:left;}
.nav_kt{ background-color: #F8F8F8; height:30px; width:785px;border:1px #ddd solid}
.nav_kt span{ padding:5px 10px; float:left; width:750px; font-size:14px; font-weight:bold}
.nav_kt span em{ float:right; font-weight:normal; font-size:12px;}
.nav_kt_810 {width:810px;}
.nav_kt_810 span {width:790px;}
.nav_kt_748 {width:748px;}
.nav_kt_748 span {width:728px;}
.nav_kt_808 {width:808px;}
.nav_kt_808 span {width:788px;}
ul.goodlist{
	margin-top:20px;
	margin-left:32px;
}
ul.goodlist li{
	width:225px;
	float:left;
	margin-right:20px;
	margin-bottom:20px;
	background:#f8f8f8 url(../img/boxsh.gif) bottom right no-repeat;
}
ul.goodlist li .picture{
	position:relative;
	border-bottom:1px solid #eee;
	width:100%;
	height:160px;
}
ul.goodlist li .picture img{
	width:100%;
	height:160px;
}
ul.goodlist li .picture span.picture_bg{
	display:block;
	width:225px;
	height:38px;
	background:#fff;
	filter: alpha(opacity=85);
    -moz-opacity:0.85;
    opacity: 0.85;
	position:absolute;
	bottom:0;
}
ul.goodlist li .picture dl.price{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	padding:5px 0;
	font-size:14px;
	color:#333;
}
ul.goodlist li .picture dl.price dd.price_scb{
	float:left;
	padding-left:10px;
}
ul.goodlist li .picture dl.price dd.price_sj{
	float:right;
	line-height:28px;
	padding-right:10px;
}
ul.goodlist li .picture dl.price dd.price_scb strong{
	font-size:18px;
	color:#c00;
	padding:0 5px;
}
ul.goodlist li p.desc{
	line-height:18px;
	padding:10px;
	font-size:14px;
}
ul.goodlist li p.desc a{
	color:#333;
	line-height:22px;
}
ul.goodlist li p.desc a:hover{
	color:#f60;
	text-decoration:none;
}
ul.goodlist li dl.meta{
	color:#999;
	padding:0 10px 10px 10px;
}
ul.goodlist li dl.meta img{
	vertical-align:middle;
	margin-right:3px;
}
ul.goodlist li dl.meta dd.sold{
	float:left;
}
ul.goodlist li dl.meta dd.location{
	float:right;
}
.content_a{
	border:1px solid #e6e6e6;
	border-top:none;
	padding:10px;
	height:200px;
	overflow:hidden;
	position:relative;
	display:none;
}
.content_a .handler{
	position:absolute;
	top:25px;
	display:block;
	width:21px;
	height:106px;
	line-height:50px;
	text-align:center;
	font-size:32px;
}
.content_a .toleft{
	left:15px; background:url(../img/slidearrow.jpg) left center no-repeat;
}
.content_a .toright{
	right:15px;
	background:url(../img/slidearrow.jpg) right center no-repeat;
}
.slider{
	width:700px;
	height:200px;
	margin:0 auto;
	overflow:hidden;
	position:relative;
}
.slider ul{
	width:2000px;
	position:absolute;
}
.slider ul li{
	float:left;
}
.slider ul li a{
	display:block;
	padding:0 7px;
}
.slider ul li a:hover {
	color:#0066FF;
}
.slider ul li a img{
	width:220px;
	height:150px;
}
.slider ul li a em{
	display:block;
	text-align:center;
	margin-top:10px;
}
.slider ul li a em span{
	display:block;
}
.slider ul li a em span b.price{
	font-weight:bold;
	color:#0056C6;
}
.slider ul li a em span b.montone{
	color:#999;
	text-decoration:line-through;
	font-weight:normal;
	margin-left:10px;
}
.m_img_pl {
    float: left;
    padding: 0 13px;
    width: 123px;
}
.m_img {
    float: left;
    height: 172px;
    width: 123px;
}
.m_img a {
    display: block;
    text-decoration: none;
}
.pl_b .movie {
    height: 216px;
    left: 24px;
    position: absolute;
    top: 20px;
    width: 907px;
    z-index: 1;
}
ul.movie_list{
	margin-top:20px;
	margin-left:32px;
	float:left;
	}
ul.movie_list li{
	width:123px;
	float:left;
	margin-right:28px;
	_margin-right:15px;
	margin-bottom:20px;

}
ul.movie_list li .picture{
	position:relative;
	
	width:100%;
	height:172px;
}
ul.movie_list li .picture img{
	width:100%;
	height:160px;

}

.m_star6 {
    background: url(../img/star2.gif) no-repeat scroll 30px -29px transparent;
    float: left;
    height: 12px;
    width: 123px;
}

ul.movie_list li dl.metak{
	color:#999; text-align:center;
}
ul.movie_list li dl.metak img{
	vertical-align:middle;
	margin-right:3px;
}
ul.movie_list li dl.metak dd.sold{

}
ul.movie_list li dl.metak dd.location{
	float:right;
}
.yanchu{ margin-top:10px;}
.yanchu li{
    border-bottom: 1px dashed #DDDDDD;
    margin-bottom: 20px;
    overflow: hidden;
    padding-bottom: 20px;
}

.act-item-list li {
    float: left;
    margin-right: 5px;
    width: 385px;
}
.imgbox {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #EDEDED;
    float: left;
    padding: 2px;
	 height: 96px;
    width: 96px;
}
.imgbox a {
    display: block;
    height: 96px;
    width: 96px;
}
.info {
    color: #777777;
    float: left;
    line-height: 18px;
    margin-left: 10px;
    width: 210px;
}
.info a {
    display: block;
    height: 25px;
    line-height: 25px;
}
.act-item-list .buybtn a {
    background: url(../img/t_btn_bg.gif) no-repeat scroll left -55px transparent;
    color: #FFFFFF;
    display: block;
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 42px;
}
.c-t {
    background: url(../img/coupon_bg.gif) repeat scroll right -74px transparent;
    display: block;
    height: 52px;
    position: absolute;
    right: -1px;
    top: -1px;
    width: 52px;
    z-index: 500;
}
.coupon-list .c-item {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px dashed #D4D4D4;
    display: block;
    float: left;
    height: auto;
	margin-bottom:10px;
    margin-top: 10px;
    padding: 10px;
    position: relative;
    width: 765px;
}
.c-info h2 {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}
.coupon-list .c-info {
    float: left;
    margin-left: 20px;
    width: 495px;
}
.c-info li {
    text-align: left;
	height:25px;
	line-height:25px;
}
.coupon-list .opt {
    float: left;
    margin-left: 20px;
    padding-top: 15px;
    text-align: center;
}
.coupon-list .d-down, .coupon-list .c-down, .coupon-list .d-down:hover, .coupon-list .c-down:hover {
    background: url(../img/coupon_bg.gif) no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 25px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    width: 97px;
}
.coupon-list .d-down:link, .coupon-list .d-down:visited {
    background-position: left -74px;
    color: #666666;
    margin-bottom: 8px;
}
.coupon-list .d-down:hover {
    background-position: left -99px;
    color: #333333;
}
.coupon-list .c-down:link, .coupon-list .c-down:visited {
    background-position: -98px -74px;
    color: #C25E28;
}
.coupon-list .c-down:hover {
    background-position: -98px -99px;
}
.coupon-list .imgbox, .coupon-list .imgbox img {
    height: 110px;
    width: 110px;
}
.sh-item {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E4E4E4;
    float: left;
    margin-top: 10px;
	
    overflow: hidden;
    padding: 15px 0 30px;
    position: relative;
    width: 785px;
}
.sh-img {
    padding: 0 10px;
}
.sh-img img{width:96px; height:96px;}
.sh-list-box{ margin-bottom:10px; float:left}
.sh-item .imgboxx { float:left; border:1px solid #ddd; padding:2px; }
.sh-item .imgboxx img { display:block; width:96px; height:96px; }
.sh-item .sh-dec { width:420px; float:left; overflow:hidden; padding:0 0 0 12px; }
.sh-item .sh-dec li { line-height:20px; height:20px; overflow:hidden; }
.sh-item .sh-score { float:left; padding:20px 2px 0 2px; text-align:center; }
.sh-item .sh-score { line-height:20px; width:150px; }
.sh-item .hot { float:left; padding-top:18px; margin-left:25px; width:104px; text-align:center; }
.sh-item .sh-score p { color:#999; }
.sh-item strong { color:#ff6600; font-weight:bold; }
.sh-item span { color:#ff6600; }
.sh-item .price { font-family:verdana; color:#ff5500; }
.sh-item .sh-dec .icon-yh, .sh-item .sh-dec .icon-yhq, .sh-item .sh-dec .icon-hd { clear:both; display:block; height:15px; line-height:15px; overflow:hidden; background: url(../img/sh_sub-bg.gif) left -110px no-repeat; padding-left:20px; width:350px; }
.sh-item .sh-dec .icon-hd { background: url(../img/sh_sub-bg.gif) left -90px no-repeat; }
.sh-item .sh-dec .icon-yhq { background: url(../img/sh_sub-bg.gif) left -70px no-repeat; }
.sh-bottom-show {
    background: none repeat scroll 0 0 #F7F7F7;
	height:25px;
    bottom: 0;
    clear: both;
    color: #DDDDDD;
    display: none;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
.sh-bottom-show .ireview {
    padding-right: 10px;
}
.starinner {
    float: left;
    height: 15px;
    left: 24px;
    position: relative;
    width: 79px;
}
.starbox {
    height: 30px;
    width: 100%;
}
.star-empty {
    background: url(../img/star-empty-a.gif) no-repeat scroll left top transparent;
    width: 100%;
    z-index: 10;
}
.star-empty, .star-full {
    height: 15px;
    left: 0;
    position: absolute;
    top: 0;
}
.star-full {
    background: url(../img/star-full-a.gif) no-repeat scroll left top transparent;
    z-index: 20;
}
.star-empty, .star-full {
    height: 15px;
    left: 0;
    position: absolute;
    top: 0;
}
.xinko{ float:right}
.xinko ul{ margin:0; padding:0; list-style:none}
.xinko ul li{ float:left; margin-right:10px;}
.xinko ul li span{ color:#F00}
.xinko ul li a{ font-size:12px;}
.sh_tr{ float:left; width:220px;}
.sh_tr span{ float:left}
.sh_tr span img{ width:50px; height:50px;}
.sh_tr p { margin-left:60px;}
.sh_tr p em{text-align: left;width: 160px; float:left; overflow:hidden;ext-overflow:ellipsis;
white-space:nowrap;}
.lnk{border-bottom: 1px dotted #DDDDDD;
    padding: 8px 0; text-align:right}
.lnk a.current {
    background: none repeat scroll 0 0 #FF6600;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 5px #990000 inset;
    color: #FFFFFF;
    font-weight: bold;
}
.lnk a {
    display: inline-block;
    line-height: 24px;
    padding: 0 8px;
    cursor: pointer;
}

.wm_label{ font-size:14px;}
.wm_label em{ font-size:16px; font-weight:bold; margin:0 10px;}
.wm_label em a{ color:#F60;}
.wm_label span{ margin:0 10px; font-weight:bold}
.dunk{ float:left; width:260px; margin-left:10px;}
.dunk span{ font-size:14px; font-weight:bold;}
.dunk span a{ color:#0099ff}
.dunk p{ line-height:27px; height:27px;}
.dunk em{ margin-left:10px}
.pre img{ float:left; padding:5px}
.review-all {
          background: url(../images/review-allboxbg.jpg) no-repeat scroll left top #EEEEEE;
    color: #FF6600;
    height: 22px;
    overflow: hidden;
    text-align: left;
    text-indent: 40px;
    width: 157px;
	line-height:22px;

}
.review-all img {
    margin-bottom: -2px;
	 _margin-bottom: -4px;
}
.font{background-color:#ddd;}
.heji{ float:right; margin-right:100px; font-size:14px}
.heji span{ font-weight:bold; color:#F60; font-size:18px}
.xx{  font-size:14px; margin:10px;}
.xx ul li{line-height:28px;}
.xx ul li span{ font-weight:bold; width:80px; float:left; text-align:right}
.list_shop_desc img{ width:96px; height:96px}

.ont_one{
	border:1px solid #DCDCDC;
	float:left;
    border-top: none;  
	 
}

.ont_one ul {
	background-color: #FFFFFF;
	border-left: 1px solid #DCDCDC;
	border-top: 1px solid #DCDCDC;
	margin: 10px 24px;
	_margin: 10px 12px;

	float:left;
	display:block;
}
.ont_one img{ width:170px; height:130px;}
.ont_one li {
	border-bottom: 1px solid #DCDCDC;
	border-right: 1px solid #DCDCDC;
	float: left;
	height:180px;
	padding: 10px 0;
	width: 183px;
	text-align:center;
}
.ont_one li:hover {
	background:#fdf7eb
}
.saveMne{
	margin-top: 5px;
}
.saveMne dt {
	color: #FF6600;
	float: left;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	overflow: hidden;
	text-align: right;
	width: 65px;
	margin-top: 3px;
}
.saveMne dt .Mne {
	font-size: 12px;
	font-weight: normal;
	padding-right: 1px;
}
.saveMne dd {
	float: left;
	overflow: hidden;
	padding-left: 10px;
	text-align: left;
	width: 80px;
}
.saveP {
	background:url(../images/sheng.gif) no-repeat;
	cursor: default;
	float: left;
	height: 18px;
	left: 63px;
	margin-top: 2px;
	padding-left: 22px;
	top: 28px;
}
.saveP .saveP_span {
	color: #FF6600;
	float: left;
	font-family: Arial;
	height: 18px;
	line-height: 18px;
	padding-right: 5px;
	border-right:1px solid #ff6600;
}
.yhq-tuijian {
	margin-top: 10px;
}
.yhq-tuijian .content_a {
	height: 220px;
}
.yhq-tuijian .slider {
	height: 220px;
}
.yhq-tuijian .slider ul li a em {
	text-align:left;
}
.yhq-tuijian .slider ul li a em span {
	margin-bottom:5px;
}
.yhq-tuijian .slider ul li a em span.yhq-title {
	font-size:14px;
	font-weight:bold;
}
/*********������**********/
.basic-modal-content {
	display:none;
}
#simplemodal-overlay {
	background-color:#000;
	cursor:normal;
}
#simplemodal-container {
	height:420px;
	width:500px;
	color:#bbb;
	background-color:#FFFFFF;
	border:4px solid #E95098;
}
#simplemodal-container code {
	background:#141414;
	border-left:3px solid #65B43D;
	color:#bbb;
	display:block;
	margin-bottom:12px;
	padding:4px 6px 6px;
}
#simplemodal-container a {
	color:#ddd;
}
#simplemodal-container a.modalCloseImg {
	background:url(../img/x.png) no-repeat;
	width:25px;
	height:29px;
	display:inline;
	z-index:3200;
	position:absolute;
	top:-15px;
	right:-16px;
	cursor:pointer;
}
#simplemodal-container .basic-modal-content {
	height: 100%;
}
.mo-float-box {
}
.mo-float-form {
	margin:10px 0;
}
.mo-float-box-title {
	border-bottom: 1px solid #CCCCCC;
	font-family: "Microsoft Yahei";
	font-size: 14px;
	font-weight: bold;
	height: 30px;
	line-height: 30px;
	padding: 0 20px;
}
.mo-float-box-cont {
	font-size:12px;
	padding: 20px;
}
.mo-action-step {
	background:url(../img/step-arrow.gif) no-repeat;
	height: 35px;
}
.mo-action-step ul {
	font-size:0;
	position: relative;
}
.mo-action-step li {
	font-size: 12px;
	height: 35px;
	line-height: 35px;
	position: absolute;
	text-align: center;
}
.mo-action-step .mo-two-step li {
	width: 233px;
}
.mo-action-step .mo-two-step li.current {
	background:url(../img/step-arrow.gif) 0 -45px no-repeat;
	color: #FFFFFF;
}
.mo-two-step li.mo-step-two {
	left: 217px;
}
.mo-three-step li.mo-step-two {
	left: 145px;
}
.mo-three-step li.mo-step-three {
	left: 290px;
}
.mo-action-step .mo-three-step li {
	width: 160px;
}
.mo-action-step .mo-three-step li.current {
	background:url(../img/step-arrow.gif) 0 -90px no-repeat;
	color: #FFFFFF;
}
.mo-float-desc {
	color:#FF0000;
}
.mo-float-form input.error {
	border:1px solid #FF0000;
}
.mo-hide-panel {
	display:none;
}
.mo-left {
	float:left;
}
.mo-right {
	float:right;
}
.mo-clear {
	clear:both;
}
.mo-form-widght {
	padding-bottom: 12px;
}
.mo-form-widght .mo-form-title {
	color: #666666;
    height: 38px;
    line-height: 38px;
    width: 70px;
}
.mo-form-widght .mo-form-notitle {
	height: 1px;
    width: 70px;
}
.mo-form-long-title {
	color:#666666;
}
.mo-form-widght .mo-form-input {
}
.mo-form-input.mo-form-input-txt input {
	border: 1px solid #DEDEDE;
    height: 32px;
    line-height: 32px;
    padding: 2px 5px;
    width: 295px;
}
.mo-form-input.mo-form-input-chk input {
	margin: 0 6px 0 0;
    vertical-align: middle;
}
.mo-form-input.mo-form-input-btn input {
	background:url(../img/login-ui.gif) 0 0 no-repeat;
	border: none;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    height: 38px;
    width: 195px;
	cursor:pointer;
}
.mo-form-input.mo-form-input-btn input:hover {
	background-position:0 -39px;
}
.mo-form-input.mo-form-login-btn input {
	background:url(../images/login-ui.gif) -161px -414px no-repeat;
	border: none;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    height: 38px;
    width: 305px;
	cursor:pointer;
}
.mo-form-input.mo-form-login-btn input:hover {
	background-position:-161px -453px;
}
.mo-form-input.mo-form-valid-btn input {
	background:url(../img/login-ui.gif) 0 -208px no-repeat;
	border: none;
    color: #666666;
    font-size: 14px;
    font-weight: bold;
    height: 38px;
    width: 160px;
	cursor:pointer;
}
.mo-form-input.mo-form-valid-btn input:hover {
	background-position:0 -247px;
}
.mo-form-input.mo-form-valid-btn input.disable,
.mo-form-input.mo-form-valid-btn input.disable:hover {
	background-position:0 -208px;
	cursor:default;
}
.mo-form-sendmsg-btn input {
	background:url(../img/login-ui.gif) -167px -208px no-repeat;
	border: 0;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    height: 38px;
    padding: 0;
    width: 95px;
}
.mo-form-sendmsg-btn input:hover {
	background-position:-167px -247px;
}
.mo-form-input label {
	color:#666666;
}
.mo-form-input input.small-text {
	width:80px
}
.mo-form-valid-code {
	margin: 0 10px;
}
.mo-form-valid-code img {
	height: 38px;
	width: 92px;
}
.mo-form-vc-refresh {
}
.mo-form-vc-refresh a {
	background:url(../img/login-ui.gif) -1px -78px no-repeat;
	display:block;
	width:25px;
	height:38px;
}
.mo-form-href {
	height: 32px;
    line-height: 32px;
    margin-left: 50px;
}
.mo-form-href a:hover {
	color:#E95098;
	text-decoration:underline;
}
.mo-form-right-img {
}
.mo-form-input.mo-form-input-txt input.error {
	border:1px solid #FF0000;
}
.mo-form-input.mo-form-input-txt span {
	display: block;
    padding: 2px 0;
}
.mo-form-input.mo-form-input-txt span.error {
	color: #FF0000;
}
.mo-form-input.mo-form-input-txt input.valid {
	border:1px solid #4DA807;
}
.mo-form-input.mo-form-input-txt span.valid {
	color:#4DA807;
}