* html .u0_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="奖品管理_files/u0_normal.png");
}

* html .u2_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="奖品管理_files/u2_normal.png");
}

* html .u4_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="奖品管理_files/u4_normal.png");
}

* html .u6_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="奖品管理_files/u6_normal.png");
}

* html .u8_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="奖品管理_files/u8_normal.png");
}

* html .u10_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="奖品管理_files/u10_normal.png");
}

* html .u21_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="奖品管理_files/u21_normal.png");
}

* html .u25_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="奖品管理_files/u25_selected.png");
}

* html .u25_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="奖品管理_files/u25_normal.png");
}

* html .u39_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="奖品管理_files/u39_normal.png");
}

* html .u41_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="奖品管理_files/u41_normal.png");
}

* html .u43_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="奖品管理_files/u43_normal.png");
}

* html .u45_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="奖品管理_files/u39_normal.png");
}

* html .u47_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="奖品管理_files/u41_normal.png");
}

* html .u49_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="奖品管理_files/u49_normal.png");
}

* html .u51_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="奖品管理_files/u51_normal.png");
}

* html .u53_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="奖品管理_files/u53_normal.png");
}

* html .u55_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="奖品管理_files/u49_normal.png");
}

* html .u57_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="奖品管理_files/u51_normal.png");
}

* html .u59_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="奖品管理_files/u49_normal.png");
}

* html .u61_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="奖品管理_files/u51_normal.png");
}

* html .u63_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="奖品管理_files/u53_normal.png");
}

* html .u65_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="奖品管理_files/u49_normal.png");
}

* html .u67_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="奖品管理_files/u51_normal.png");
}

* html .u69_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="奖品管理_files/u49_normal.png");
}

* html .u71_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="奖品管理_files/u51_normal.png");
}

* html .u73_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="奖品管理_files/u53_normal.png");
}

* html .u75_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="奖品管理_files/u49_normal.png");
}

* html .u77_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="奖品管理_files/u51_normal.png");
}

