body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:20px;
    top:20px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1_line {
    background-image: url('../新建抽奖模板_files/u1_line.png');
}

.u1_line {
    position:absolute;
    left:0px;
    top:4px;
    width:900px;
    height:3px;
}

.u1 {
    position:absolute;
    left:20px;
    top:40px;
    width:900px;
    height:10px;
    
}

.u2 {
    position:absolute;
    left:60px;
    top:60px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:183px;
    top:60px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:60px;
    top:99px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:183px;
    top:96px;
    width:500px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u6 {
    position:absolute;
    left:60px;
    top:138px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:60px;
    top:177px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:60px;
    top:218px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:180px;
    top:214px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u16 {
    position:absolute;
    left:376px;
    top:218px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:180px;
    top:249px;
    width:426px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:60px;
    top:330px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:180px;
    top:326px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u20 {
    position:absolute;
    left:376px;
    top:330px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:180px;
    top:361px;
    width:540px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:60px;
    top:447px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:180px;
    top:442px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u24 {
    position:absolute;
    left:376px;
    top:446px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:180px;
    top:477px;
    width:426px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:60px;
    top:517px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_container {
    position:absolute;
    left:180px;
    top:517px;
    width:160px;
    height:160px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:160px;
    height:160px;
}

.u28 {
    position:absolute;
    left:2px;
    top:72px;
    width:156px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:365px;
    top:517px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u30 {
    position:absolute;
    left:180px;
    top:687px;
    width:1016px;
    height:251px;
    overflow:hidden;
}

#pd0u30 {
    position:absolute;
    left:0px;
    top:0px;
    width:1016px;
    height:251px;
    
}

#u31 {
    position:absolute;
    left:0px;
    top:0px;
    width:900px;
    height:221px
}

.u32_normal {
    background-image: url('../新建抽奖模板_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:24px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:30px;
}

.u33 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../新建抽奖模板_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:100px;
    top:0px;
    width:150px;
    height:24px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:30px;
}

.u35 {
    position:absolute;
    left:2px;
    top:4px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../新建抽奖模板_files/u32_normal.png');
}

.u36_container {
    position:absolute;
    left:250px;
    top:0px;
    width:100px;
    height:24px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:30px;
}

.u37 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../新建抽奖模板_files/u32_normal.png');
}

.u38_container {
    position:absolute;
    left:350px;
    top:0px;
    width:100px;
    height:24px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:30px;
}

.u39 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../新建抽奖模板_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:450px;
    top:0px;
    width:145px;
    height:24px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:30px;
}

.u41 {
    position:absolute;
    left:2px;
    top:4px;
    width:141px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../新建抽奖模板_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:595px;
    top:0px;
    width:300px;
    height:24px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:30px;
}

.u43 {
    position:absolute;
    left:2px;
    top:4px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../新建抽奖模板_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:0px;
    top:24px;
    width:100px;
    height:24px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:30px;
}

.u45 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../新建抽奖模板_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:100px;
    top:24px;
    width:150px;
    height:24px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:30px;
}

.u47 {
    position:absolute;
    left:2px;
    top:4px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../新建抽奖模板_files/u44_normal.png');
}

.u48_container {
    position:absolute;
    left:250px;
    top:24px;
    width:100px;
    height:24px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:30px;
}

.u49 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../新建抽奖模板_files/u44_normal.png');
}

.u50_container {
    position:absolute;
    left:350px;
    top:24px;
    width:100px;
    height:24px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:30px;
}

.u51 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../新建抽奖模板_files/u52_normal.png');
}

.u52_container {
    position:absolute;
    left:450px;
    top:24px;
    width:145px;
    height:24px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:30px;
}

.u53 {
    position:absolute;
    left:2px;
    top:4px;
    width:141px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../新建抽奖模板_files/u54_normal.png');
}

.u54_container {
    position:absolute;
    left:595px;
    top:24px;
    width:300px;
    height:24px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:30px;
}

.u55 {
    position:absolute;
    left:2px;
    top:4px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../新建抽奖模板_files/u44_normal.png');
}

.u56_container {
    position:absolute;
    left:0px;
    top:48px;
    width:100px;
    height:24px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:30px;
}

.u57 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../新建抽奖模板_files/u46_normal.png');
}

.u58_container {
    position:absolute;
    left:100px;
    top:48px;
    width:150px;
    height:24px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:30px;
}

.u59 {
    position:absolute;
    left:2px;
    top:4px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../新建抽奖模板_files/u44_normal.png');
}

.u60_container {
    position:absolute;
    left:250px;
    top:48px;
    width:100px;
    height:24px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:30px;
}

.u61 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../新建抽奖模板_files/u44_normal.png');
}

.u62_container {
    position:absolute;
    left:350px;
    top:48px;
    width:100px;
    height:24px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:30px;
}

.u63 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../新建抽奖模板_files/u52_normal.png');
}

.u64_container {
    position:absolute;
    left:450px;
    top:48px;
    width:145px;
    height:24px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:30px;
}

.u65 {
    position:absolute;
    left:2px;
    top:4px;
    width:141px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../新建抽奖模板_files/u54_normal.png');
}

.u66_container {
    position:absolute;
    left:595px;
    top:48px;
    width:300px;
    height:24px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:30px;
}

.u67 {
    position:absolute;
    left:2px;
    top:4px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../新建抽奖模板_files/u44_normal.png');
}

.u68_container {
    position:absolute;
    left:0px;
    top:72px;
    width:100px;
    height:24px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:30px;
}

.u69 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../新建抽奖模板_files/u46_normal.png');
}

.u70_container {
    position:absolute;
    left:100px;
    top:72px;
    width:150px;
    height:24px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:30px;
}

.u71 {
    position:absolute;
    left:2px;
    top:4px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../新建抽奖模板_files/u44_normal.png');
}

.u72_container {
    position:absolute;
    left:250px;
    top:72px;
    width:100px;
    height:24px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:30px;
}

.u73 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../新建抽奖模板_files/u44_normal.png');
}

.u74_container {
    position:absolute;
    left:350px;
    top:72px;
    width:100px;
    height:24px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:30px;
}

.u75 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../新建抽奖模板_files/u52_normal.png');
}

.u76_container {
    position:absolute;
    left:450px;
    top:72px;
    width:145px;
    height:24px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:30px;
}

.u77 {
    position:absolute;
    left:2px;
    top:4px;
    width:141px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../新建抽奖模板_files/u54_normal.png');
}

.u78_container {
    position:absolute;
    left:595px;
    top:72px;
    width:300px;
    height:24px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:30px;
}

.u79 {
    position:absolute;
    left:2px;
    top:4px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../新建抽奖模板_files/u44_normal.png');
}

.u80_container {
    position:absolute;
    left:0px;
    top:96px;
    width:100px;
    height:24px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:30px;
}

.u81 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../新建抽奖模板_files/u46_normal.png');
}

.u82_container {
    position:absolute;
    left:100px;
    top:96px;
    width:150px;
    height:24px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:30px;
}

.u83 {
    position:absolute;
    left:2px;
    top:4px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../新建抽奖模板_files/u44_normal.png');
}

.u84_container {
    position:absolute;
    left:250px;
    top:96px;
    width:100px;
    height:24px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:30px;
}

.u85 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_normal {
    background-image: url('../新建抽奖模板_files/u44_normal.png');
}

.u86_container {
    position:absolute;
    left:350px;
    top:96px;
    width:100px;
    height:24px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:30px;
}

.u87 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../新建抽奖模板_files/u52_normal.png');
}

.u88_container {
    position:absolute;
    left:450px;
    top:96px;
    width:145px;
    height:24px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:30px;
}

.u89 {
    position:absolute;
    left:2px;
    top:4px;
    width:141px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../新建抽奖模板_files/u54_normal.png');
}

.u90_container {
    position:absolute;
    left:595px;
    top:96px;
    width:300px;
    height:24px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:30px;
}

.u91 {
    position:absolute;
    left:2px;
    top:4px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_normal {
    background-image: url('../新建抽奖模板_files/u44_normal.png');
}

.u92_container {
    position:absolute;
    left:0px;
    top:120px;
    width:100px;
    height:24px;
}

#u92_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:30px;
}

.u93 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_normal {
    background-image: url('../新建抽奖模板_files/u46_normal.png');
}

.u94_container {
    position:absolute;
    left:100px;
    top:120px;
    width:150px;
    height:24px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:30px;
}

.u95 {
    position:absolute;
    left:2px;
    top:4px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_normal {
    background-image: url('../新建抽奖模板_files/u44_normal.png');
}

.u96_container {
    position:absolute;
    left:250px;
    top:120px;
    width:100px;
    height:24px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:30px;
}

.u97 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_normal {
    background-image: url('../新建抽奖模板_files/u44_normal.png');
}

.u98_container {
    position:absolute;
    left:350px;
    top:120px;
    width:100px;
    height:24px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:30px;
}

.u99 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_normal {
    background-image: url('../新建抽奖模板_files/u52_normal.png');
}

.u100_container {
    position:absolute;
    left:450px;
    top:120px;
    width:145px;
    height:24px;
}

#u100_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:30px;
}

.u101 {
    position:absolute;
    left:2px;
    top:4px;
    width:141px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_normal {
    background-image: url('../新建抽奖模板_files/u54_normal.png');
}

.u102_container {
    position:absolute;
    left:595px;
    top:120px;
    width:300px;
    height:24px;
}

#u102_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:30px;
}

.u103 {
    position:absolute;
    left:2px;
    top:4px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_normal {
    background-image: url('../新建抽奖模板_files/u44_normal.png');
}

.u104_container {
    position:absolute;
    left:0px;
    top:144px;
    width:100px;
    height:24px;
}

#u104_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:30px;
}

.u105 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_normal {
    background-image: url('../新建抽奖模板_files/u46_normal.png');
}

.u106_container {
    position:absolute;
    left:100px;
    top:144px;
    width:150px;
    height:24px;
}

#u106_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:30px;
}

.u107 {
    position:absolute;
    left:2px;
    top:4px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../新建抽奖模板_files/u44_normal.png');
}

.u108_container {
    position:absolute;
    left:250px;
    top:144px;
    width:100px;
    height:24px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:30px;
}

.u109 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_normal {
    background-image: url('../新建抽奖模板_files/u44_normal.png');
}

.u110_container {
    position:absolute;
    left:350px;
    top:144px;
    width:100px;
    height:24px;
}

#u110_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:30px;
}

.u111 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('../新建抽奖模板_files/u52_normal.png');
}

.u112_container {
    position:absolute;
    left:450px;
    top:144px;
    width:145px;
    height:24px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:30px;
}

.u113 {
    position:absolute;
    left:2px;
    top:4px;
    width:141px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('../新建抽奖模板_files/u54_normal.png');
}

.u114_container {
    position:absolute;
    left:595px;
    top:144px;
    width:300px;
    height:24px;
}

#u114_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:30px;
}

.u115 {
    position:absolute;
    left:2px;
    top:4px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_normal {
    background-image: url('../新建抽奖模板_files/u44_normal.png');
}

.u116_container {
    position:absolute;
    left:0px;
    top:168px;
    width:100px;
    height:24px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:30px;
}

.u117 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_normal {
    background-image: url('../新建抽奖模板_files/u46_normal.png');
}

.u118_container {
    position:absolute;
    left:100px;
    top:168px;
    width:150px;
    height:24px;
}

#u118_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:30px;
}

.u119 {
    position:absolute;
    left:2px;
    top:4px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120_normal {
    background-image: url('../新建抽奖模板_files/u44_normal.png');
}

.u120_container {
    position:absolute;
    left:250px;
    top:168px;
    width:100px;
    height:24px;
}

#u120_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:30px;
}

.u121 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_normal {
    background-image: url('../新建抽奖模板_files/u44_normal.png');
}

.u122_container {
    position:absolute;
    left:350px;
    top:168px;
    width:100px;
    height:24px;
}

#u122_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:30px;
}

.u123 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124_normal {
    background-image: url('../新建抽奖模板_files/u52_normal.png');
}

.u124_container {
    position:absolute;
    left:450px;
    top:168px;
    width:145px;
    height:24px;
}

#u124_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:30px;
}

.u125 {
    position:absolute;
    left:2px;
    top:4px;
    width:141px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_normal {
    background-image: url('../新建抽奖模板_files/u54_normal.png');
}

.u126_container {
    position:absolute;
    left:595px;
    top:168px;
    width:300px;
    height:24px;
}

#u126_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:30px;
}

.u127 {
    position:absolute;
    left:2px;
    top:4px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128_normal {
    background-image: url('../新建抽奖模板_files/u44_normal.png');
}

.u128_container {
    position:absolute;
    left:0px;
    top:192px;
    width:100px;
    height:24px;
}

#u128_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:30px;
}

.u129 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130_normal {
    background-image: url('../新建抽奖模板_files/u46_normal.png');
}

.u130_container {
    position:absolute;
    left:100px;
    top:192px;
    width:150px;
    height:24px;
}

#u130_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:30px;
}

.u131 {
    position:absolute;
    left:2px;
    top:4px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132_normal {
    background-image: url('../新建抽奖模板_files/u44_normal.png');
}

.u132_container {
    position:absolute;
    left:250px;
    top:192px;
    width:100px;
    height:24px;
}

#u132_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:30px;
}

.u133 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134_normal {
    background-image: url('../新建抽奖模板_files/u44_normal.png');
}

.u134_container {
    position:absolute;
    left:350px;
    top:192px;
    width:100px;
    height:24px;
}

#u134_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:30px;
}

.u135 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136_normal {
    background-image: url('../新建抽奖模板_files/u52_normal.png');
}

.u136_container {
    position:absolute;
    left:450px;
    top:192px;
    width:145px;
    height:24px;
}

#u136_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:30px;
}

.u137 {
    position:absolute;
    left:2px;
    top:4px;
    width:141px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138_normal {
    background-image: url('../新建抽奖模板_files/u54_normal.png');
}

.u138_container {
    position:absolute;
    left:595px;
    top:192px;
    width:300px;
    height:24px;
}

#u138_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:30px;
}

.u139 {
    position:absolute;
    left:2px;
    top:4px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140 {
    position:absolute;
    left:10px;
    top:226px;
    width:867px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141 {
    position:absolute;
    left:101px;
    top:24px;
    width:149px;
    height:24px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u142 {
    position:absolute;
    left:250px;
    top:24px;
    width:101px;
    height:24px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u143 {
    position:absolute;
    left:351px;
    top:24px;
    width:98px;
    height:24px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u144 {
    position:absolute;
    left:449px;
    top:24px;
    width:145px;
    height:24px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u145 {
    position:absolute;
    left:595px;
    top:24px;
    width:300px;
    height:24px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u146 {
    position:absolute;
    left:60px;
    top:989px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147 {
    position:absolute;
    left:180px;
    top:986px;
    width:500px;
    height:44px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u148 {
    position:absolute;
    left:180px;
    top:1038px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149 {
    position:absolute;
    left:60px;
    top:950px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151 {
    position:absolute;
    left:16px;
    top:0px;
    width:279px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153 {
    position:absolute;
    left:16px;
    top:0px;
    width:279px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154 {
    position:absolute;
    left:177px;
    top:1095px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u155 {
    position:absolute;
    left:287px;
    top:1095px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u156 {
    position:absolute;
    left:397px;
    top:1095px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u157_container {
    position:absolute;
    left:634px;
    top:146px;
    width:160px;
    height:160px;
}

#u157_img {
    position:absolute;
    left:0px;
    top:0px;
    width:160px;
    height:160px;
}

.u158 {
    position:absolute;
    left:2px;
    top:72px;
    width:156px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159_container {
    position:absolute;
    left:674px;
    top:313px;
    width:80px;
    height:99px;
}

#u159_img {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:99px;
}

.u160 {
    position:absolute;
    left:2px;
    top:42px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161 {
    position:absolute;
    left:376px;
    top:571px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u162_normal {
    background-image: url('../新建抽奖模板_files/u162_normal.png');
}

.u162_container {
    position:absolute;
    left:70px;
    top:1907px;
    width:180px;
    height:80px;
}

#u162_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:86px;
}

.u163 {
    position:absolute;
    left:2px;
    top:32px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164 {
    position:absolute;
    left:45px;
    top:99px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165 {
    position:absolute;
    left:45px;
    top:177px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166 {
    position:absolute;
    left:45px;
    top:218px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167 {
    position:absolute;
    left:45px;
    top:330px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168 {
    position:absolute;
    left:45px;
    top:447px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u169 {
    position:absolute;
    left:45px;
    top:517px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170 {
    position:absolute;
    left:45px;
    top:950px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u171 {
    position:absolute;
    left:45px;
    top:989px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

